---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---


<h2>Universite de Franche-Comte (2013-2014)</h2>
As a PhD student at the Universite de Franche-Comte in France, I had the chance to assist in
teaching a variety of undergraduate and lower graduate courses. This involved class lecturing in
addition to laboratory experiments planning, supervision, and reports reviewing, as summarized
below.<br><br>
&bull; <b>Lab, Continuum mechanics (32h) for 2nd year (Geo-sciences), and 3rd year (Physics).</b><br>
This is an introductory course to classical mechanics and thermodynamics. The experiments
included for example applications to the Bernoulli theorem, thermo-couples, Pitot tubes,
and measuring moments of inertia. It is also the first lab course for many of the second year
students. I hence had to start by explaining the fundamentals of physical experiments such as
the different types of measurement uncertainties, the ins and outs of scientific data plotting,
and how to write a university level report. While the science I had to convey was simple,
this course has its own challenges. As a start it was my first serious attempt of teaching at a
university level. More importantly however, I was 23, barely a couple years older than some
of the students. Drawing professional lines was therefore both challenging and crucial.
<br><br>
&bull; <b>Lab, Numerical treatment of physical measurements (24h) for 2nd year (Chemistry).</b><br>
This was a computer lab course focusing on the statistical treatment of physical measure-
ments. I had to explain to students some fundamental notions of statistics, such as the dif-
ferent statistical distributions (Gaussian, Poisson, Chi-squared, etc), and fitting these to data
using Excel. The main (minor) challenge I faced teaching this course was my ignorance of
Excel, having used more science-grade tools throughout my career. I hence had to make sure
that I am extra well prepared before every lecture.<br><br>
&bull; <b>Lectures and tutorials, Planetary Sciences for Master students (8h).</b><br>
This is a module of a graduate level course that my PhD advisor was supposed to teach
initially, but then delegated to me. Scientifically, it was the most exciting course I had taught
to date as it dealt with subjects very close to my own research: an introduction to solar
system sciences and planet formation. I hence started by explaining the basics of stellar
formation (that can be understood intuitively using the Virial theorem), then the physics of
proto-planetary disks, and finally planet growth through the accretion of solids and gas. The
main challenge in teaching planet formation theory is how little we know as a fact. Many
aspects of our current knowledge on the subject are conjectural at best. This is fundamentally
due to the intrinsic difficulty in observing the process of planet formation directly. It is hence
crucial to emphasis to students that while our understanding of some aspects (how stars form,
etc..) is robust, other facets are still pretty much in flux among scientists
<div><br></div>



<h2>University of Toronto (2016-2018)</h2>

As a postdoc at the University of Toronto, my main job consisted mostly of research in planetary
sciences. I did nonetheless contribute to local teaching activities.<br><br>
&bull; <b>Machine Learning open workshop (35h).</b><br>

My first teaching experience at UofT was in 2016 when, with fellow postdocs, decided to
organize and run a 5 days long workshop on Machine Learning and its applications in plane-
tary sciences (Materials available here). The workshop consisted of theoretical introduction
to the different Supervised and Unsupervised machine learning techniques, with applications
to astronomy. This was a hands on workshop, with all material delivered in the form of fully
interactive &ldquo;Jupyter Notebooks&rdquo; (example shown in Fig. 1). The large and diverse audience
consisted of undergraduate and graduate students from most scientific majors, in addition
to interested faculty members. Creating well balanced lectures of interest to everyone was
hence particularly challenging. <br><br>


&bull; <b>Lectures and Lab &ldquo;Introduction to Machine Learning for Industry and Science&rdquo; (30h).</b><br>
The success of our machine learning workshop led to the creation of an official, new, upper
undergrad course on the same topics (EESC24). I had the opportunity of both designing
the syllabus (proposal attached here) and then teacher-assisting the professor (Diana
Valencia). The main challenge teaching this course was simply the heavy workload, where
I had to correct/grade the weekly assignments that consisted of solving machine learning
problems using computer codes.
<div><br></div>







<h2>American University of Beirut (2018)</h2>
In 2018 I was invite to spend one semester as a visiting assistant professor at the American Uni-
versity of Beirut. AUB is a private, selective, and fully English speaking university in Beirut,
Lebanon. It is the highest ranking educational institution in the Arab world. I thought it would be
an interesting experience and thus agreed. There I taught two courses, organized a workshop, and
interacted with many students.<br><br>
&bull; <b>Lectures &ldquo;PHYS210: Introductory physics for engineers&rdquo; (36h).</b><br>
This is the main fundamental physics course all engineering students have to take. It is a
thorough course covering a wide range of classical physics topics such as Newtonian me-
chanics, thermodynamics, fluids, and optics. The detailed syllabus is attached here. As the
main professor, I had to prepare the presentations and lecture to 120 students in the hall. I
was also involved in preparing homework, exams, and coordinating with the TAs and lab
managers. The huge responsibility I felt from being completely in charge, and the large
number of students in class, made this my most challenging teaching experience to date.<br><br>
&bull; <b>Lectures &ldquo;Introduction to planetary sciences&rdquo; (36h).</b><br>
This is an undergraduate elective I fully designed and taught myself. It is an umbrella course
introducing students to a wide variety of planetary science topics ranging from Keplerian
mechanics to atmospheres, surfaces, and planet formation. The full syllabus is attached
here. This truly interdisciplinary course interested students majoring in physics, chemistry,
geology, applied math, and engineering. My philosophy when designing it was to introduce
the largest number possible of students to the field, as I was only a visiting Prof. and thus
the course would be available for only one semester. The main challenge was hence how
to create a memorable course that is interesting to a diverse body of students with different
backgrounds and levels of on-topic knowledge. One month after the start of the course I
conducted an anonymous online evaluation survey, with the (very positive) results shown in
Fig. 2.<br><br>
&bull; <b>Introduction to scientific computing with python workshop (2 full days).</b><br>
The idea for this workshop came about while discussing with some highly motivated stu-
dents the possibility of conducting undergraduate research. It however became clear that
most of them had no notions of scientific computing at all, significantly limiting possible
research topics. I hence decided to take matters into my own hands and organize, starting
from scratch, a weekend long workshop introducing students to the Python programming
language and the basics of scientific computing.
The syllabus included an introduction to the mathematics libraries with python (numpy,
scipy), matrix/arrays operations, statistics, basic integration/differentiation, and solving sim-
ple systems of coupled equations. The second day we discussed more advanced techniques:
solving ODE systems, PDEs, tensors, and some basic machine learning. The material is
available here.
The response was overwhelming: within 48 hours of the initial announcement we were at
double the anticipated capacity. The room had to be changed, and a long waiting list made.
To evaluate the workshop and get sincere feedback after its completion, I created an anony-
mous online survey, with the results shown in Fig. 3.
<div><br></div>




{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
